@model WebWeather.Models.Forecast

@{
    ViewBag.Title = "Weather";
}
<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/Content/StyleSheet.css">
    <meta name="viewport" content="width=device-width" />
    
</head>

<body align="center">
   <p align="center"> @Html.ActionLink("View Search History","Index","History") &emsp; @Html.ActionLink("Your selected cities", "Index", "SelectedCities")</p>
    <br />

        @using (Html.BeginForm("Index", "Weather", FormMethod.Post))
        {
             
            var cityList = new List<SelectListItem>();
            if (ViewBag.Cities != null)
            {
                foreach (WebWeather.Models.SelectedCityViewModel c in ViewBag.Cities)
                {
                    cityList.Add(new SelectListItem() { Text = c.Name, Value = c.Name });
                }
            }
            <p>Selected: @Html.DropDownList("CityName", cityList, new { @class = "btn btn-default dropdown-toggle" })</p>
        
     
    @Html.ActionLink("Other city", "OtherCity")
    <br />
        <p>
            You want a forecast for
            @Html.DropDownList("NumOfDays", new List<SelectListItem>
      { new SelectListItem{ Text = "Today", Value = "1"},
      new SelectListItem{ Text = "3 Days", Value = "3"},
      new SelectListItem{ Text = "A Week", Value = "7"}}, new { @class = "btn btn-default dropdown-toggle" })
        </p>

        <button type="submit" >Get!</button>
        }
    @Html.Partial("Result", Model)
</body>
</html>
