@model WebWeather.Models.Forecast

<body>
    @if (Model != null)
    {
        <br />
        <h4><strong> Weather in @Model.City: </strong></h4>
        <br />
        <table align="center">
         <tr>
            
                @foreach (var d in Model.GetDailyList())
                {
                    <td>
                    <table class="table-bordered">
                        
                           <tr><th align="center" bgcolor="#04E4C3" colspan="3"><strong> @d.Date </strong></th></tr>
                           <tr><td align="center" bgcolor="#A6FCFE"> Min <br />  @d.MinTemp °C </td>
                               <td align="center" bgcolor="#7CFCFE" style="color:#1135A0"><strong> Day <br /> @d.DayTemp °C </strong></td>
                               <td align="center" bgcolor="#2DFCFF"> Max <br /> @d.MaxTemp °C </td>
                           </tr>
                           <tr><td bgcolor="#E0FFFF" align="center" colspan="3"><img src="@d.Icon" height="60" width="60"></td></tr>
                           <tr><td align="center" bgcolor="#4FE4FA" colspan="3"> Pressure: @d.Pressure hPa </td></tr>

                        </table>
                        </td>
                  }
    </tr>
    </table>
      }
</body>